<h1>Нэвтрэх</h1>
<form method="POST" action="/auth/login" class="form">
  <input name="email" type="email" placeholder="Email" required />
  <input name="password" type="password" placeholder="Нууц үг" required />
  <button type="submit">Нэвтрэх</button>
</form>
